{% extends 'base.html' %} 
{% load static%} 
{% block title %}Dashboard page{% endblock title %} 
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
   
  <div class="container">
    {% include "includes/alert.html" %}
    <div class="row">
     {% include "includes/dashboard_sidebar.html" %}
      <main class="col-md-9">
        <article class="card">
          <header class="card-header">
            <strong class="d-inline-block mr-3">User name:</strong> 
            <span>{{user.full_name | capfirst}}</span>
          </header>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body text-center">
                    <h5 class="card-title">Total orders</h5>
                    <h6>{{orders.count}}</h6>
                    <a href="{% url 'my_orders' %}" class="btn btn-facebook">View order</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body text-center">
                    <img  src="{{userprofile.profile_picture.url}}" alt="user profile picture" height='20%' width='20%' class="avatar" style='border-radius:50%;'>
                    <p class="mb-1">Email address: <i>{{user.email}}</i></p>
                    <p class="">Phone number:<i>{{user.phone_number}}</i></p>
                    
                  </div>
                </div>
              </div>
             
            </div>
            <!-- row.// -->
          </div>
          <!-- card-body .// -->

          <!-- table-responsive .end// -->
        </article>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
