container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_createsuperuser:
    command: "create_superuser.py create_superuser"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: greatkart.settings